version: "3.9"
services:
  mysql:
    image: mysql:8.0.23
    volumes:
      - ./data/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=eoloplantsDB
    ports:
      - 3306:3306
  mongo:
    image: mongo:3.6.22
    volumes:
      - ./data/mongo:/data/db
    ports:
      - 27017:27017
  rabbitmq:
    image: rabbitmq:3.8.14
    ports:
      - 5672:5672
      - 15672:15672